body{margin: 0% ; padding: 10px;background-color: powderblue;}
section{margin: 20px;}
.Nom{text-align: center; float: right; float: 300px;}
strong{color: orange;}
.navigation ul {list-style-type: none; background-color: gray;
padding: 0%;
margin: 0%;
overflow: hidden;

}
.navigation a { color: white; text-decoration: none;
padding: 15px;
display: block;
text-align: center;

}
.navigation a :hover{background-color:black }
.navigation li{float: left;}
footer{background-color: blueviolet; padding: 10px; font-size: 20PX ;
text-align: center;
}
